html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  margin: 0;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Layout  */
.grid-container {
  display: grid;
  grid-template-areas: "news" "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 5rem 1fr 4rem;
  height: 100%;
}

news {
  grid-area: news;
  background-color: #707e8d;
  color: #ffffff;
  font-size: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  grid-area: header;
  background-color: #203040;
}
main {
  grid-area: main;
  padding: 1rem;
  display: flex;
  grid-template-areas: "sidebar" "content";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

sidebar {
  grid-area: sidebar;
  padding: 1rem;
  background-color: #747070;
}
content {
  grid-area: content;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75%;
}

/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  text-decoration: none;
}

a:hover {
  color: rgb(255, 165, 0);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
button {
  padding: 1rem;
  border-radius: 00.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1, 6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
  font-weight: bold;
}
button.primary {
  background-color: rgb(211, 182, 17);
}
button:hover {
  border: 0.1rem #404040 solid;
}
button.block {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
}
a > span {
  padding-right: 0.5rem;
}
.row.centre {
  justify-content: center;
}
#root {
  height: 100%;
}
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 80%;
}
/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f1e4e4;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
.rating span {
  color: gold;
  margin: 0.1rem;
}
.rating span:last-child {
  color: black;
}
/* Alerts */
.success {
  color: #20a020;
}
.error {
  color: red;
}
